/*Variáveis*/
:root {
    --green: #628E75;
    --Fundo: #1A4855;
    --white: #f9f9f9;
  }
  
  /*Reset*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face{
    font-family: poppins;
    src: url(./fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family: regular;
    src:url(./fonts/Poppins-Regular.ttf);
}

  body{
      background-color: var(--Fundo);
  }

  .logo{    
      margin-top: 5%;
      width: 70%;
 

  }
  @keyframes animacao{

    0% {transform: translateY(100px)}
    
    50%{transform: skew(15deg)}
    
    100%{transform: skew(-15deg)}



   
  
  }


 

  .img-logo{
      position: absolute;

      left: 180px;
      width: 10%;
      
  }

  .facebook{
      position: absolute;
      left: 900px;
      background-image: url(../image/facebook.png);
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 20px;
      background-color: var(--Fundo);
      border: none;
      
  }

  .facebook:hover{
      cursor: pointer;
  }

  .instagram{
    position: absolute;
    left: 1000px;
    background-image: url(../image/icons8-instagram-50.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    background-color: var(--Fundo);
    border: none;
    
}

.instagram:hover{
    cursor: pointer;
}

  .twitter{
    position: absolute;
    left: 1100px;
    background-image: url(../image/icons8-twitter-50.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    background-color: var(--Fundo);
    border: none;
    
}

.twitter:hover{
    cursor: pointer;
}

  .youtube{
    position: absolute;
    left: 1200px;
    background-image: url(../image/icons8-reproduzir-youtube-50.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    background-color: var(--Fundo);
    border: none;
    
    
}

.youtube:hover{
    cursor: pointer;
}


.txt #altor{
    position: absolute;
    color: var(--white);
    height: 30px;
    width: 445px;
    left: 180px;
    margin-top: 150px;
    font-family: poppins;
  }

  .txt #titulo{
    position: absolute;
    color: var(--white);
    height: 148px;
    width: 330px;
    left: 180px;
    margin-top: 170px;
    font-family: poppins;
    font-size: 50px;
  }

  .txt #cont{
    position: absolute;
    color: var(--white);
    height: 148px;
    width: 420px;
    left: 180px;
    margin-top: 330px;
    font-family: regular;


  }


.ilus{
    position: absolute;
    height: 400px;
    width: 450px;
    left: 700px;
    margin-top: 10%;

    animation-name: animacao;
    animation-duration: 15s;
    animation-iteration-count: infinite;
   
  
 ;

}

.as-agora{

    position: absolute;
    margin-top: 470px;
    left: 200px;
    
    width: 200px;
    height: 40px;
    transform: skew(-25deg);

    background-color: var(--green);
    color: var(--white);
    border: none ;

    background-image: url(./image/icons8-reproduzir-50.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 20px;
    cursor: pointer;
    
   
}


.as-trailer{

    position: absolute;
    margin-top: 470px;
    left: 420px;
    
    width: 200px;
    height: 40px;
    transform: skew(-25deg);

    background-color: var(--Fundo);
    color: var(--white);
    border: 1px solid;
    
cursor: pointer;
    
   
}
