@keyframes animacao{
 0% {transform: translateY(400px)}
 50%{transform: skew(15deg)}
 100%{transform: skew(-15deg)}

}


@media screen and (max-width: 578px) {

    .body{
        max-width: 578;
    }
    .img-logo{
        position: absolute;
        left: 20px;
        width: 80px;

    }
    
    .facebook{
        position: absolute;
        left: 200px;
        background-size: 70%
        
    }
    .instagram{
        position: absolute;
        left: 240px;
        background-size: 70%
    }
    
    .twitter{
        position: absolute;
        left: 280px;
        background-size: 70%
    }
    .youtube{

        position: absolute;
        left: 320px;
        background-size: 70%
    }
}

@media screen and (max-width: 578px) {
    .ilus{
        position: absolute;
        height: 200px;
        width: 250px;
        left: 80px;
        margin-top: 30px;
        animation-name: animacao;
        animation-duration: 15s;
        animation-iteration-count: infinite
       
    }

    .txt #altor{
        position: absolute;
        left: 60px;
        top: 100px;
        width: 200px ;
        font-size: 20px;
    }

    .txt #titulo{
        position: absolute;
        width: 280px;
        left: 60px;
        top: 110px;
        font-size: 40px;
    
    }
    .txt #cont{
        position: absolute;
        height: 148px;
        width: 250px;
        left: 60px;
        top: 50px;
        font-size: 15px;
    
    

    }
} 


@media screen and (max-width: 578px) {
    .as-agora{
        position: absolute;
        left: 60px;
        top: 50px;
        width: 70%; 
        height: 60px;

    }
  
    .as-trailer{
        opacity: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 0%; 
        height: 0px;
    }
}



