@keyframes animacao{
 0% {transform: translateY(1500px)}
 50%{transform: skew(15deg)}
 100%{transform: skew(-15deg)}

}


@media screen and (max-width: 578px) {
    .img-logo{
        position: absolute;
        left: 50px;
        width: 60px;

    }
    
    .facebook{
        position: absolute;
        left: 250px;
        background-size: 50%
        
    }
    .instagram{
        position: absolute;
        left: 280px;
        background-size: 50%
    }
    
    .twitter{
        position: absolute;
        left: 310px;
        background-size: 50%
    }
    .youtube{

        position: absolute;
        left: 340px;
        background-size: 50%
    }
}

@media screen and (max-width: 578px) {
    .ilus{
        position: absolute;
        height: 200px;
        width: 250px;
        left: 60px;
        margin-top: 30px;
        animation-name: animacao;
        animation-duration: 15s;
        animation-iteration-count: infinite
       
    }

    .txt #altor{
        position: absolute;
        left: 50px;
        margin-top:200px;
        font-size: 20px;
    }

    .txt #titulo{
        position: absolute;
        width: 280px;
        left: 50px;
        margin-top: 230px;
        font-size: 40px;
    
    }
    .txt #cont{
        position: absolute;
        height: 148px;
        width: 250px;
        left: 50px;
        margin-top: 330px;
        font-size: 15px;
    
    

    }
} 


@media screen and (max-width: 578px) {
    .as-agora{
        position: absolute;
        left: 70px;
        margin-top: 450px;
        width: 200px; 
        height: 40px;

    }
  
    .as-trailer{
        opacity: 0;
    }
}



