@media screen and (max-width: 600px) {
    .img-logo{
        position: absolute;
        left: 50px;
        width: 60px;

    }
    
    .facebook{
        position: absolute;
        left: 250px;
        background-size: 50%
        
    }
    .instagram{
        position: absolute;
        left: 280px;
        background-size: 50%
    }
    
    .twitter{
        position: absolute;
        left: 310px;
        background-size: 50%
    }
    .youtube{

        position: absolute;
        left: 340px;
        background-size: 50%
    }
}

@media screen and (max-width: 600px) {
    .ilus{
        position: absolute;
        height: 200px;
        width: 250px;
        left: 190px;
        margin-top: 30px;
       
    }

    .txt #altor{
        position: absolute;
        left: 30px;
        margin-top:200px;
        font-size: 70px;
    }

    .txt #titulo{
        position: absolute;
        width: 180px;
        left: 30px;
        margin-top: 220px;
        font-size: 90px;
    
    }
    .txt #cont{
        position: absolute;
        height: 148px;
        width: 250px;
        left: 30px;
        margin-top: 310px;
        font-size: 50px;
    
    

    }
} 


@media screen and (max-width: 600px) {
    .as-agora{
        position: absolute;
        left: 70px;
        margin-top: 400px;
        height: 80px;

    }
  
    .as-trailer{
        opacity: 0;
    }
}



